@page "/dashboard"
@attribute [Authorize(Roles = "Admin,User")]

<PageLayout Title="Dashboard">
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.Shared.Dashboard></AstroOfficeWeb.Components.Shared.Dashboard>
        </div>
    </ChildContent>
</PageLayout>

