@page "/dashboard"
@attribute [Authorize(Roles = "Admin,User")]

<PageLayout Title="Report">
    @* <RightContainer> *@
        @* <MudButton Class="btn-custom" OnClick="OnClick_Karan">Karan</MudButton> *@
    @* </RightContainer> *@
    <ChildContent>
            <AstroOfficeWeb.Components.HomeComponents.Report />
        @* <div class="mt-5 px-3"> *@
            @* <AstroOfficeWeb.Components.Shared.Dashboard @ref="RKaran" IsKaranOpened="OnClick_Karan"></AstroOfficeWeb.Components.Shared.Dashboard> *@
        @* </div> *@
    </ChildContent>
</PageLayout>