@page "/"
@inject NavigationManager Navigation
@attribute [Authorize]

<PageLayout Title="Home" >
    <ChildContent>
        <div class="container-fluid d-flex justify-content-center align-items-center">

            <div class="row text-center d-flex align-items-center">
                <MudContainer Fixed="true">
                    <div Class="d-flex align-center justify-center mud-width-full">
                        <MudImage Src="images/loader-4.gif" Alt="Mony the dog" Class="rounded-lg" Height="250" />
                    </div>
                    <MudText Typo="Typo.h4">Welcome to Divya Astro Ashram</MudText>

                    <AuthorizeView>
                        <MudText Typo="Typo.subtitle1">Hello, <span class="badge rounded-pill bg-secondary">@context?.User?.Identity?.Name!</span> Explore the mystical world of astrology and discover insights into your life.</MudText>

                    </AuthorizeView>
                </MudContainer>

                <h2>Our platform offers a variety of features to help you explore and understand astrology, from personalized horoscopes to in-depth Kundali analysis.</h2>
            </div>
        </div>
    </ChildContent>
</PageLayout>


@code
{
    private void OnClick_BtnExplore()
    {
        Navigation.NavigateTo("/", false, true);
    }
}