@page "/manage-categories"

<PageLayout Title="Manage category">
    <RightContainer>
        @if (isLoadedCategory)
        {

            <MudButton Class="btn-custom">Add Category</MudButton>
        }
    </RightContainer>

    <ChildContent>
        <div class="mt-5 px-3">
            <AstroOfficeWeb.Components.ProductComponents.ManageCategories @ref=MCategories  />
        </div>
    </ChildContent>
</PageLayout>

@code{
    AstroOfficeWeb.Components.ProductComponents.ManageCategories MCategories = null!;
    bool isLoadedCategory = false;
    private void CategoryLoaded(bool isLoaded)
    {
        isLoadedCategory = isLoaded;
    }
}