@page "/manage-products"

<PageLayout Title="Manage Products" ViewInContainer="false">
    <RightContainer>

        <div class="pt-4 pb-2 ">
            <a href="save-product" class="btn btn-custom fw-semibold">Add Product</a>
        </div>

    </RightContainer>

    <ChildContent>
        <AstroOfficeWeb.Components.ProductComponents.ManageProducts GridClass="my-3" IsDataUrl="true"></AstroOfficeWeb.Components.ProductComponents.ManageProducts>
    </ChildContent>
</PageLayout>


