@page "/manage-products"

<PageLayout Title="Manage Products">
    <RightContainer>

        <div class="pt-4 pb-2 ">
            <a href="save-product" class="btn btn-custom fw-semibold">Add Product</a>
        </div>

    </RightContainer>

    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.ManageProducts></AstroOfficeWeb.Components.ProductComponents.ManageProducts>
        </div>
    </ChildContent>
</PageLayout>


