@page "/manage-orders"

<PageLayout Title="Manage orders">
    <ChildContent>
        <div class="mt-5 px-3">
            <AstroOfficeWeb.Components.ProductComponents.ManageOrders></AstroOfficeWeb.Components.ProductComponents.ManageOrders>
        </div>
    </ChildContent>
</PageLayout>