@page "/checkout"

<PageLayout Title="Checkout" IsChild="true">
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.ProductCheckout IsDataUrl="true"></AstroOfficeWeb.Components.ProductComponents.ProductCheckout>
        </div>
    </ChildContent>
</PageLayout>
