<PageLayout Title="Checkout" IsChild="true">
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.ProductCheckout></AstroOfficeWeb.Components.ProductComponents.ProductCheckout>
        </div>
    </ChildContent>
</PageLayout>