@page "/product-cart"
@page "/shopping-cart"


<PageLayout Title="Shopping Cart">
    <RightContainer>
        @if (!IsEmpty)
        {
            <div class="pt-4 pb-2 ">
                <a href="products" class="btn btn-custom fw-semibold"> Continue Shopping</a>
            </div>
        }
    </RightContainer>

    <ChildContent>
            <AstroOfficeWeb.Components.ProductComponents.ProductCart IsDataUrl="true" HandleEmptyCart="OnEmptyCart"></AstroOfficeWeb.Components.ProductComponents.ProductCart>        
    </ChildContent>
</PageLayout>

@code {
    public bool IsEmpty { get; set; } = false;
    private void OnEmptyCart(bool isEmpty)
    {
        IsEmpty = isEmpty;
    }
}

