@page "/save-product"
@page "/save-product/{Sno:long}"
@using AstroOfficeWeb.Shared.DTOs
@attribute [Authorize(Roles = "Admin,User,ManageProduct")]

@inject AstroOfficeWeb.Services.ProductService ProductService

<PageLayout Title="Save Product">
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.SaveProduct Sno="@Sno"></AstroOfficeWeb.Components.ProductComponents.SaveProduct>
        </div>
    </ChildContent>
</PageLayout>

@code {
    [Parameter]
    public long Sno { get; set; }


    public ProductDTO ProductModel { get; set; } = new();

    public List<CategoryListItem> CategoryDTOs { get; set; } = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     // var categories = await ProductService.GetCategories();
    //     // if (categories != null)
    //     // {
    //     //     CategoryDTOs = categories;
    //     // }
    //     // if (Sno != 0)
    //     // {
    //     //     var productDTO = await ProductService.GetProductBySno(Sno);
    //     //     if (productDTO != null)
    //     //     {
    //     //         ProductModel = productDTO;
    //     //     }
    //     // }
    // }

} 