@page "/token-recharge"
@inject TokenWalletService TokenWallet

<PageLayout Title="Recharge" UserToken="TotalBalance">

    <ChildContent>
        <div class="mt-5 px-3">
            <AstroOfficeWeb.Components.TokenComponents.TokenRecharge OnTokenUpdated="OnTokenUpdated"></AstroOfficeWeb.Components.TokenComponents.TokenRecharge>
        </div>
    </ChildContent>
</PageLayout>


@code {

    private decimal? TotalBalance;
    // protected override async Task OnInitializedAsync()
    // {
    //     TotalBalance = await TokenWallet.GetBalance();
    // }

    private void OnTokenUpdated(decimal? userToken)
    {
        TotalBalance = userToken;
        // StateHasChanged();
    }
}