@page "/transactions"

<PageLayout Title="Transactions">
    <ChildContent>
        <div class="mt-5 px-3">
            <AstroOfficeWeb.Components.TokenComponents.Transactions></AstroOfficeWeb.Components.TokenComponents.Transactions>
        </div>
    </ChildContent>
</PageLayout>