@page "/user-wishlist"

<PageLayout Title="Wishlist">
    <RightContainer>
        <a href="/products" class="btn btn-custom"> Go to Shop</a>
    </RightContainer>
    <ChildContent>
            <AstroOfficeWeb.Components.ProductComponents.UserWishlist IsDataUrl="true"></AstroOfficeWeb.Components.ProductComponents.UserWishlist>
      
    </ChildContent>
</PageLayout>

