@page "/user-wishlist"

<PageLayout Title="Wishlist">
    <RightContainer>
        <a href="/products" class="btn btn-custom"> Go to Shop</a>
    </RightContainer>
    <ChildContent>
        <div class="mt-5 p-3">
            <AstroOfficeWeb.Components.ProductComponents.UserWishlist Breakpoint="row-cols-1 row-cols-sm-3 row-cols-md-5 row-cols-xl-6"></AstroOfficeWeb.Components.ProductComponents.UserWishlist>
        </div>
    </ChildContent>
</PageLayout>
