@page "/my-orders"

<PageLayout Title="Orders">
    <ChildContent>
        <div class="mt-5 px-3">
            <AstroOfficeWeb.Components.ProductComponents.UserOrders></AstroOfficeWeb.Components.ProductComponents.UserOrders>
        </div>
    </ChildContent>
</PageLayout>