@page "/user-wishlist"

<PageLayout Title="Wishlist">
    <RightContainer>
        <a href="/products" class="btn btn-custom"> Go to Shop</a>
    </RightContainer>
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.UserWishlist></AstroOfficeWeb.Components.ProductComponents.UserWishlist>
        </div>
    </ChildContent>
</PageLayout>

