@page "/viewed-kundalis"


    <PageLayout Title="Viewed Kundalis">
        <ChildContent>
            <div class="mt-5">
                <AstroOfficeWeb.Components.KundaliComponents.ViewedKundalis></AstroOfficeWeb.Components.KundaliComponents.ViewedKundalis>
            </div>
        </ChildContent>
    </PageLayout>
