@page "/view-order/{OrderId:long}"


<PageLayout Title="View Orders" IsChild="true">
    <ChildContent>
        <div class="mt-5 p-2">
            <AstroOfficeWeb.Components.ProductComponents.ViewOrder OrderId="OrderId"></AstroOfficeWeb.Components.ProductComponents.ViewOrder>
        </div>
    </ChildContent>
</PageLayout>

@code {
    [Parameter]
    public long OrderId { get; set; }
}