@page "/product/{ProductSno:long}/{ProductName}"

<PageLayout Title="View Product" IsChild="true">
    <ChildContent>
        <div class="mt-5">
            <AstroOfficeWeb.Components.ProductComponents.ViewProduct ProductName="@ProductName" ProductSno="ProductSno" />
        </div>
    </ChildContent>
</PageLayout>


@code{
    [Parameter]
    public long ProductSno { get; set; }

    [Parameter]
    public string? ProductName { get; set; }
}