@using Microsoft.AspNetCore.Components.Routing
@* <nav class="fixed-bottom bottom-0 position-fixed end-0 start-0 border-top"> *@

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <nav class="end-0 start-0 border-top d-lg-none">
                <div class="mobile-nav-container container-fluid d-flex justify-content-between shadow">
                    <nav class="mobile-nav">
                        <div class="m-nav-box">
                            <ul class="m-nav-container">

                                @* Home *@
                                @if (!context.User.IsInRole(ApplicationConst.Role_ProductManager))
                                {
                                    <li class="m-nav-item">
                                        <NavLink href="/" Match="NavLinkMatch.All" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/magic-ball-fill.png" alt="Home" />
                                            </div>
                                            <span class="m-nav-item-text">Home</span>
                                        </NavLink>
                                    </li>
                                }

                                @* Top Up *@
                                @if (context.User.IsInRole(ApplicationConst.Role_User))
                                {
                                    <li class="m-nav-item">
                                        <NavLink href="/token-recharge" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/top-up-fill.png" alt="Top Up" />
                                            </div>
                                            <span class="m-nav-item-text">Recharge</span>
                                        </NavLink>
                                    </li>
                                }

                                @* Shopping *@
                                @if (context.User.IsInRole(ApplicationConst.Role_User))
                                {
                                    <li class="m-nav-item">
                                        <NavLink href="/products" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/online-shopping-fill.png" alt="Shopping" />
                                            </div>
                                            <span class="m-nav-item-text">Shopping</span>
                                        </NavLink>
                                    </li>
                                }

                                @if (context.User.IsInRole(ApplicationConst.Role_User))
                                {
                                    @* Wishlist *@
                                    <li class="m-nav-item">
                                        <NavLink href="/user-wishlist" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/wishlist-fill.png" alt="Wishlist" />
                                            </div>
                                            <span class="m-nav-item-text">Wishlist</span>
                                        </NavLink>
                                    </li>

                                    @* Cart *@
                                    <li class="m-nav-item">
                                        <NavLink href="/product-cart" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/shopping-cart-fill.png" alt="Cart" />
                                            </div>
                                            <span class="m-nav-item-text">Cart</span>
                                        </NavLink>
                                    </li>
                                }

                                @if (context.User.IsInRole(ApplicationConst.Role_Admin))
                                {

                                    @* Manage Users *@
                                    <li class="m-nav-item">
                                        <NavLink href="/users" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/management-fill.png" alt="Manage Users" />
                                            </div>
                                            <span class="m-nav-item-text">Users</span>
                                        </NavLink>
                                    </li>
                                }

                                @if (context.User.IsInRole(ApplicationConst.Role_Admin) || context.User.IsInRole(ApplicationConst.Role_ProductManager))
                                {
                                    @* Manage Products *@
                                    <li class="m-nav-item">
                                        <NavLink href="/manage-products" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/inventory-fill.png" alt="Manage Products" />
                                            </div>
                                            <span class="m-nav-item-text">Products</span>
                                        </NavLink>
                                    </li>
                                }

                                @if (context.User.IsInRole(ApplicationConst.Role_Admin) || context.User.IsInRole(ApplicationConst.Role_ProductManager))
                                {

                                    @* Product Categories *@
                                    <li class="m-nav-item">
                                        <NavLink href="/manage-categories" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/categorization-fill.png" alt="Product Categories" />
                                            </div>
                                            <span class="m-nav-item-text">Categories</span>
                                        </NavLink>
                                    </li>

                                    @* Manage Orders *@
                                    <li class="m-nav-item">
                                        <NavLink href="/manage-orders" class="m-nav-item-link">
                                            <div class="m-nav-item-icon">
                                                <img class="icon-height mx-2" src="_content/AstroOfficeWeb.Components/icons/order.png" alt="Manage Orders" />
                                            </div>
                                            <span class="m-nav-item-text">Orders</span>
                                        </NavLink>
                                    </li>

                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </nav>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>