@* <nav class="fixed-bottom bottom-0 position-fixed end-0 start-0 border-top"> *@
<footer class="footer mt-auto bg-light">
    <nav class="end-0 start-0 border-top">
        <div class="d-lg-none">
            <div class="mobile-nav-container container-fluid d-flex justify-content-between shadow">
                <nav class="mobile-nav">
                    <div class="m-nav-box">
                        <ul class="m-nav-container">
                            <li class="m-nav-item">
                                <a href="#Profile" class="m-nav-item-link">
                                    <div class="m-nav-item-icon">
                                        <img class="icon-height mx-2" src="icons/top-up-fill.png" alt="dpad" />
                                    </div>
                                    <span class="m-nav-item-text">Recharge</span>
                                </a>
                            </li>
                            <li class="m-nav-item">
                                <a href="#Messages" class="m-nav-item-link">
                                    <div class="m-nav-item-icon">
                                        <img class="icon-height mx-2" src="icons/online-shopping-fill.png" alt="bar-chart" />
                                    </div>
                                    <span class="m-nav-item-text">Shopping</span>
                                </a>
                            </li>
                            <li class="m-nav-item active">
                                <a href="#Home" class="m-nav-item-link">
                                    <div class="m-nav-item-icon">
                                        <img class="icon-height mx-2" src="icons/magic-ball-fill.png" alt="book" />
                                    </div>
                                    <span class="m-nav-item-text">Home</span>
                                </a>
                            </li>
                            <li class="m-nav-item">
                                <a href="#Help" class="m-nav-item-link">
                                    <div class="m-nav-item-icon">
                                        <img class="icon-height mx-2" src="icons/wishlist-fill.png" alt="briefcase" />
                                    </div>
                                    <span class="m-nav-item-text">Wishlist</span>
                                </a>
                            </li>
                            <li class="m-nav-item">
                                <a href="#Settings" class="m-nav-item-link">
                                    <div class="m-nav-item-icon">
                                        <img class="icon-height mx-2" src="icons/shopping-cart-fill.png" alt="lightbulb" />
                                    </div>
                                    <span class="m-nav-item-text">Cart</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>

</footer>