<div id=@_tabPan class="tab-pane fade accordion-item @_show @_active" role="tabpanel" aria-labelledby=@_tabAria tabindex="0">
    <h2 id="@_accordionHeader" class="accordion-header d-lg-none">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=@_accordionCollapseId aria-expanded=@_expanded aria-controls=@_accordionCollapse>
            @TabPanelName
        </button>
    </h2>
    <div id=@_accordionCollapse class="accordion-collapse collapse d-lg-block @_show @_active" aria-labelledby=@_accordionHeader>
        <div class="accordion-body">
            @TabPanelBody
        </div>
    </div>
</div>


@code {

    private string _expanded { get => this.IsActive ? "true" : "false"; }

    private string _accordionCollapseId { get => "#" + this.TabPanelName.ToUrlFriendlyString() + "-collapse"; }

    private string _accordionCollapse { get => this.TabPanelName.ToUrlFriendlyString() + "-collapse"; }

    private string _accordionHeader { get => this.TabPanelName.ToUrlFriendlyString() + "-accordion-header"; }

    private string _tabPan { get => this.TabPanelName.ToUrlFriendlyString() + "-tab-pane"; }

    private string _tabAria { get => this.TabPanelName.ToUrlFriendlyString() + "-tab"; }

    private string _active { get => this.IsActive ? "active" : string.Empty; }

    private string _show { get => this.IsActive ? "show" : string.Empty; }

    [Parameter]
    public bool IsActive { get; set; } = false;

    [Parameter]
    public string TabPanelName { get; set; } = null!;

    [Parameter]
    public RenderFragment TabPanelBody { get; set; } = null!;
}
