<div class="container p-3">
    <div class="justify-content-between d-none d-md-flex">
        <h1 class="pt-4 pb-2 font-weight-bold">@Name</h1>
        <div class="pt-4 pb-2 ">
            @Header
        </div>
    

    </div>

    <div class="child-content">
        @ChildContent
    </div>

    <div class="footer">
        @Footer
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public String? Name { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
