<div class="container-fluid pb-15 ">
    <div class="d-flex justify-content-between">
        <h1 class="pt-4 pb-2 font-weight-bold">@HeaderTitle</h1>
        <div class="my-auto">
            @Header
        </div>
    </div>
    <section class="content">
        @ChildContent
    </section>
  

    @if (Footer != null)
    {
        <div class="footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public string? HeaderTitle { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;


}