@inherits BaseComponent
@inject IJSRuntime JSRuntime

<div @ref="ER_FaladeshModal" class="modal fade faladesh p-5" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" title="close Prediction" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close" @onclick="() => OnConfirmationChange(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title ">Cusp</h3>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" title="Cusp" src="@ImgSrcBhavChalit" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Kundali</h3>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" title="Kundali " src="@ImgSrcLagan" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title">Falla</h3>
                            </div>
                            <div class="card-body overflow-auto mb-0">
                                @(new MarkupString(Falla))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal" @onclick="() => OnConfirmationChange(false)">Cancel</button>
                <button type="button" class="btn btn-custom" title="Print Prediction" @onclick="() => OnConfirmationChange(true)">Print</button>
            </div>
        </div>
    </div>
</div>


@code {
    protected bool IsShow { get; set; } = true;
    protected ElementReference ER_FaladeshModal { get; set; }

    [Parameter]
    public string Title { get; set; } = "Faladesh";

    [Parameter]
    public string Falla { get; set; } = string.Empty;

    [Parameter]
    public string ImgSrcBhavChalit { get; set; } = string.Empty;

    [Parameter]
    public string ImgSrcLagan { get; set; } = string.Empty;

    public async Task ShowAsync()
    {
        IsShow = true;
        await JSRuntime.ShowModalAsync(ER_FaladeshModal);

        StateHasChanged();
    }

    [Parameter]
    public EventCallback<bool> ConfirmationChanged { get; set; }

    protected async Task OnConfirmationChange(bool value)
    {
        IsShow = false;
        await ConfirmationChanged.InvokeAsync(value);
    }
}