@page "/forgotpass"
@inject IJSRuntime JSRuntime

@using System.ComponentModel.DataAnnotations


<div class="container-fluid">

    <div class="row vertical-center">

        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="7">
                <MudPaper Class="pa-4" Elevation="0">

                    <div class="text-center">
                        <h4 class="mb-4">Forgot Password</h4>
                    </div>

                    <div class="d-flex align-center justify-center mud-width-full">

                        <MudImage Src="images/loader-4.gif" Alt="Mony the dog" Class="rounded-lg" Height="100" />

                    </div>
                    <MudTextField T="string" Label="Mobile Number" @bind-Value="LoginModel.MobileNumber" Mask="@(new PatternMask("0000 0000 00"))" />

                    <div class="d-flex align-center justify-space-between mt-5">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" DisableElevation="true">Send OTP</MudButton>
                    </div>
                    <div class="d-flex align-center justify-space-between mt-4">
                        <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" DisableElevation="true">Login</MudButton>
                    </div>
                    <div class="text-center mt-3">
                        <NavLink Href="/register" Class="forgot-link">Register a new membership</NavLink>
                    </div>

                </MudPaper>
            </MudItem>
        </MudGrid>
    </div>
</div>



