@page "/login"
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@* @layout AccountLayout *@


@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using MudExtensions
@inject ISnackbar Snackbar


<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" style="height:100vh;">

        <MudPaper Class="pa-4 w-100">
            <div class="text-center d-flex align-center justify-center mud-width-full">
                <h4 class="mb-4">Sign In</h4>
            </div>
            <div Class="d-flex align-center justify-center mud-width-full">
                <MudImage Src="images/loader-4.gif" Alt="Mony the dog" Class="rounded-lg" Height="100" />
            </div>

            <MudTextField @bind-Value="LoginModel.UserName" For="@(() => LoginModel.UserName)" Label="Username" />

            <MudTextField @bind-Value="LoginModel.Password" For="@(() => LoginModel.Password)" Label="Password" InputType="InputType.Password" />

            <div class="d-flex align-center justify-space-between mt-5">
                <MudButton ButtonType="ButtonType.Submit" OnClick="OnValidSubmitAsync" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="ml-auto">Sign In</MudButton>
            </div>

            <div class="text-center mt-5">
                <p class="mb-3">
                    <a href="/forgotpass" class="forgot-link">Forgot password</a>
                </p>
                <NavLink Href="/register" Class="forgot-link">Don't have an account? Sign Up</NavLink>
            </div>
        </MudPaper>
    </div>
</div>
