@inject DocumentService Document
@inject IPrintService Print

<MudDialog Class="overflow-y-scroll bg-custom">
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <div class="card border-img bg-custom">
                    @* <div class="card text-center"> *@
                    <div class="card-header bg-transparent border-bottom-2 text-center">
                        <MudText Typo="Typo.body1">CUSP</MudText>
                    </div>
                    <div class="card-body d-flex">
                        <img class="img-fluid flex-fill" title="CUSP" src="@BhavChalitSrc" alt="CUSP" />
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" md="6">
                <div class="card border-img bg-custom ">
                    @* <div class="card text-center"> *@
                    <div class="card-header bg-transparent border-bottom-2 text-center">
                        <MudText Typo="Typo.body1">Kundali</MudText>
                    </div>
                    <div class="card-body d-flex">
                        <img class="img-fluid flex-fill" title="Kundali" src="@LaganSrc" alt="Kundali" />
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="card border-img bg-custom">
                    @* <div class="card text-center"> *@
                    <div class="card-header bg-transparent border-bottom-2 text-center">
                        <MudText Typo="Typo.body1">Kundali</MudText>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(Kundali))
                        {
                            @((MarkupString)Kundali)
                        }
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OnClick_BtnPrint">Print</MudButton>
    </DialogActions>
</MudDialog>
