@page "/changepass"

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a><b>Change Password</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You are only one step away from your new password; recover your password now.</p>
                <EditForm Model="changePassword" OnValidSubmit="OnValidChangePassword">
                    <DataAnnotationsValidator />

                    <div class="form-group">

                        <div class="input-group ">
                            <InputText @bind-Value="changePassword.Password" typeof="Password" class="form-control" placeholder="Password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <ValidationMessage For="@(()=>changePassword.Password)" />
                    </div>

                    <div class="form-group">

                        <div class="input-group ">
                            <InputText @bind-Value="changePassword.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <ValidationMessage For="@(()=>changePassword.ConfirmPassword)" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                    </div>
                </EditForm>

                <p class="mt-3 mb-1">
                    <a href="/">Login</a>
                </p>
            </div>

        </div>
    </div>
</div>


