@page "/login"
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Divya Astro</b> Login
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <EditForm Model="LoginModel" OnValidSubmit="OnValidSubmitAsync">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <InputText @bind-Value="LoginModel.UserName" class="form-control" placeholder="User Name" />
                        <ValidationMessage For="@(()=>LoginModel.UserName)" />
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <InputText type="password" @bind-Value="LoginModel!.Password" class="form-control" placeholder="Password" />
                        </div>
                        <ValidationMessage For="@(()=>LoginModel.Password)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </EditForm>
                <div class="text-center">
                    <p class="mb-2">
                        <a href="/forgotpass">Forgot password</a>
                    </p>
                    <p class="mb-0">Don't have an account? <a href="/registration">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>