
.welcome-content {
    text-align: center;
}

    .welcome-content img {
        max-width: 100%;
        border-radius: 50%;
    }

.astro-info {
    margin-top: 30px;
}

.btn-primary {
    background-color: rgb( 16, 50, 75);
    color: #fff;
    border-color: rgb(16, 50, 75);
}

    .btn-primary:hover {
        background-color: rgb(233, 175, 0);
        border-color: rgb(233, 175, 0);
    }

.badge-secondary {
    color: #fff;
    background-color: #10324b;
}