@page "/pdfdisplay"
@using AstroOfficeWeb.Client.Services;
<h3>PdfDisplay</h3>

<h3>PDF Display</h3>

<embed src="data:application/pdf;base64,@pdfData" type="application/pdf" />

<a href="/" class="btn btn-primary">Back</a>

@code {
    private byte[] pdfData;

    protected override void OnInitialized()
    {
        pdfData = GeneratePDF();
    }

    private byte[] GeneratePDF()
    {
        // Use your Text7PdfService to generate the PDF
        Text7PdfService pdfService = new Text7PdfService();
        return pdfService.GeneratePDF();
    }
}
