<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="images/logo.png" alt="Divya Astro" class="brand-image img-circle" style="opacity: .8">
        <span class="brand-text font-weight-light">Divya Astro</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <AuthorizeView>
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@AstroShared.Helper.AvatarGenerator.GenerateUserAvatar(context.User.Identity?.Name)" class="img-circle" alt="User Image">
                </div>
                <div class="info">
                    <NavLink href="" class="d-block">@context.User.Identity?.Name</NavLink>
                </div>
            </div>
        </AuthorizeView>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home
                        </p>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink href="karan" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Karan
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="viewed-kundalis" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Viewed Kundalis
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="saved-kundalis" class="nav-link ">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Saved Kundalis
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="transactions" class="nav-link ">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Transactions
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="token-recharge" class="nav-link ">
                        <i class="nav-icon fa fa-wallet"></i>
                        <p>
                            Recharge
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="kundali" class="nav-link">
                        <i class="nav-icon fa fa-wallet"></i>
                        <p>
                            Kundali
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="logout" class="nav-link text-danger">
                        <i class="nav-icon fa fa-sign-out-alt"></i>
                        <p>
                            Logout
                        </p>
                    </NavLink>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>