@inherits LayoutComponentBase

@* <div class="page">
    <main>
        <AuthorizeView>
            <NavMenu />
        </AuthorizeView>
        @Body
    </main>
</div> *@

<AuthorizeView>
    <Authorized>
        <div class="wrapper">
            <NavMenu />
            <AsideSidebar />
            <div class="content-wrapper" style="background-color: white;">
                @Body
            </div>
            <MainFooter />
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>