@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <CascadingValue Value="this">
            <div class="wrapper">
                <NavMenu NavTitle="@NavTitle" />
                <AsideSidebar />
                <div class="content-wrapper" style="background-color: white;">
                    @Body
                </div>
                <MainFooter />
            </div>
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

@code {
    public string NavTitle { get; set; } = "Home";
    public async Task NotifyChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }
}