<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AstroOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="AstroOfficeConnectionString" connectionString="Data Source=To-Server;Initial Catalog=Astrooff;User ID=AstroUser;Password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />	
		
		<!--<add name="AstroOfficeConnectionString" connectionString="Data Source=To-Server;Initial Catalog=AstroOffice;User ID=AstroUser;Password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />-->
		
		<add name="MatchMakingConnectionString" connectionString="Data Source=To-Server;Initial Catalog=MatchMaking;user id=AstroUser;password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
		<add name="AstroOfficeConnectionString1" connectionString="data source=To-Server;initial catalog=AstroOffice;user id=AstroUser;password=Saroj@123" providerName="Microsoft.Data.SqlClient" />

		<!--<add name="AstroOfficeConnectionString" connectionString="Data Source=110.226.124.45;Initial Catalog=Astrooff;User ID=AstroUser;Password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
		--><!--<add name="AstroOfficeConnectionString" connectionString="Data Source=110.226.124.45;Initial Catalog=AstroOffice;User ID=AstroUser;Password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />--><!--
		<add name="MatchMakingConnectionString" connectionString="Data Source=110.226.124.45;Initial Catalog=MatchMaking;user id=AstroUser;password=Saroj@123" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
		<add name="AstroOfficeConnectionString1" connectionString="data source=110.226.124.45;initial catalog=AstroOffice;user id=AstroUser;password=Saroj@123" providerName="Microsoft.Data.SqlClient" />-->
	</connectionStrings>
	<applicationSettings>
		<AstroOffice.Properties.Settings>
			<setting name="AppName" serializeAs="String">
				<value>Divya Astro Ashram</value>
			</setting>
		</AstroOffice.Properties.Settings>
	</applicationSettings>
</configuration>