<nav id="secondNav" class="bottom-0 position-fixed end-0 start-0">
    <div class="d-lg-none">
        <div class="container-fluid d-flex justify-content-between shadow pt-2">
            <a href="#" class="text-center text-decoration-none textColor">
                <div class="mb-1">
                    <span class="bg-primary rounded-5 p-1 text-white">DB</span>
                </div>
                <div class="extraSmallFont active pb-1">Dbook</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/book.svg" alt="book">
                <div class="extraSmallFont pb-1">Book</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/dpad.svg" alt="dpad">
                <div class="extraSmallFont pb-1">Navigate</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/bar-chart.svg" alt="bar-chart">
                <div class="extraSmallFont pb-1">Stats</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/lightbulb.svg" alt="lightbulb">
                <div class="extraSmallFont pb-1">Idea</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/briefcase.svg" alt="briefcase">
                <div class="extraSmallFont pb-1">Career</div>
            </a>
        </div>
    </div>
</nav>
