@* @attribute [Authorize(Roles = "Admin,User")]
@inject IJSRuntime JSRuntime *@


@page "/check"
<div class="my-component">
    This component is defined in the <strong>AstroOfficeSharedComponents</strong> library.
</div>
