@page "/order-success"

@* <div class="container d-flex align-items-center justify-content-center min-vh-100"> *@
<div class="container d-flex align-items-center justify-content-center h-100">
    @* <div class="card text-center"> *@
    <div class="card text-center bg-transparent shadow-none">
        <div class="card-body">
            <i class="fas fa-check-circle text-success display-4 mb-4"></i>
            <h4 class="text-success">Order Placed Successfully</h4>
            <p class="card-text">
                Your order has been successfully placed. Thank you for choosing us for your shopping needs.
            </p>
            <!-- <p class="card-text">
                  Here are some details about your order:
              </p>
              <div class="text-left">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i class="fas fa-file-alt"></i> Order Number: <strong>#123456</strong></li>
                      <li class="list-group-item"><i class="fas fa-calendar-alt"></i> Order Date: <strong>December 3, 2023</strong></li>
                      <li class="list-group-item"><i class="fas fa-calendar-check"></i> Estimated Delivery Date: <strong>December 10, 2023</strong></li>
                      <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> Shipping Address: <strong>123 Main St, Cityville</strong></li>
                  </ul>
              </div> -->
        </div>
        <div class="card-footer bg-transparent">
            <p class="mb-3">What would you like to do next?</p>
            <a href="my-orders" class="btn btn-success mx-2">
                <i class="fas fa-map-marker-alt"></i> Track Order
            </a>
            <a href="products" class="btn btn-secondary">
                <i class="fas fa-shopping-cart"></i> Continue Shopping
            </a>
        </div>
    </div>
</div>