@page "/save-product"
@page "/save-product/{Sno:long}"
@using AstroOfficeWeb.Client.Services
@using AstroOfficeWeb.Shared.DTOs;
@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject StateContainerService StateContainerService
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@attribute [Authorize(Roles = "Admin,User,ManageProduct")]


@* <div class="container-fluid p-3">
    <h1 class="pt-4 pb-2 font-weight-bold "> Add product </h1>
    <section class="content">
     
     </section>
 </div> *@


 <ContainerFluid HeaderTitle="Save Product">
     <ChildContent>
        <AstroOfficeWeb.Components.ProductComponents.SaveProduct Sno="@Sno" ProductModel="@ProductModel" CategoryDTOs="CategoryDTOs"></AstroOfficeWeb.Components.ProductComponents.SaveProduct>
     </ChildContent>
 </ContainerFluid>


@code {
    [Parameter]
    public long Sno { get; set; }


    public ProductDTO ProductModel { get; set; } = new();

    public List<CategoryDialoge> CategoryDTOs { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var categories = await ProductService.GetCategories();
        if (categories != null)
        {
            CategoryDTOs = categories;
        }
        if (Sno != 0)
        {
            var productDTO = await ProductService.GetProductBySno(Sno);
            if (productDTO != null)
            {
                ProductModel = productDTO;
            }
        }
    }

} 