@using AstroOfficeWeb.Client.Services
@using AstroShared.DTOs

@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject StateContainerService StateContainerService
@inject IJSRuntime JSRuntime

<ContainerFluid HeaderTitle="My Title" title="My Orders">
    <Header>
        <button class="btn btn-custom">Back</button>
    </Header>
    <ChildContent>
    </ChildContent>
</ContainerFluid>