/* 
.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {
    width: 350px;
}

.star {
    color: red;
}

.bg-cart {
    background-color: orange;
    color: #fff;
    margin-top: 15px;
    padding: 5px 5px;
    font-size: 13px;
}

    .bg-cart:hover {
        background: #ffffff;
        border-color: #fab73a;
        color: #fab73a;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px;
}

    .bg-buy:hover {
        color: #fff;
    }

a {
    text-decoration: none !important;
}

.text-color {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
}

.categories {
    color: #000;
    padding: 25px;
    border-radius: 10px;
    background: #fff;
    height: calc(100vh - 35px);
    position: sticky;
    top: 20px;
}
.categories-list {
    max-height: calc(100% - 15px);
    overflow: auto;
}
.mud-nav-link .mud-nav-link-expand-icon {
    color: #fff !important;
}

.category-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.categories ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    padding-top: 10px;
}

.shop-search {
    color: #fff;
    border-radius: 10px;
    margin: 13px 0px 20px 0px;
    padding: 0 30px;
    background:#fff;
}

    .shop-search .shop-search-input {
        margin-top: 6.4px !important;
    }


.shop-card {
    background: #fff;
    box-shadow: none;
    padding: 7px;
    border: none;
    border-radius: 10px;
}

.shop-card .card-body {
        padding: 0;
}

        

.shop-card .card-body .card-img-actions img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 15px;
  }

 .shop-card .card-body a {
       font-size: 16px;
       width: 173px;
       font-weight: 600;
       color: #e9af00;
      margin: 0;
       display: inline-block;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
}

.shop-card h3 {
          font-size: 16px;
                
}

.card-img-actions[b-6pt8dzqd51] {
    overflow:hidden;
    border-radius:25px;
    position:relative;
 
}
.card-body .card-img-actions img {
   transition: opacity 0.2s ease,transform 2s cubic-bezier(0, 0, 0.50,1.18)
}

.card-body:hover .card-img-actions img {
    opacity: 0;
    transform: scale(1.09);
}
.hover-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease,transform 2s cubic-bezier(0, 0, 0.50,1.18);
    transform: scale(1);
}
.card-body:hover .card-img-actions img.hover-img {
    opacity: 1;
    transform: scale(1.09);
}
.card-icon {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    transition: all .3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transform: translateX(20px) translateZ(0);
    width: 40px;
}
    .card-icon .quick-view span:before {
        content: "\f106";
    }
    .card-icon .quick-view a, .card-icon .wd-wishlist-btn a {
        position: relative;
        flex-direction: column;
        height: 38px;
        width: 41px;
        font-weight: 400;
        line-height: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--action-btn-color);
        cursor: pointer;
    }
.card-body:hover .card-icon {
    opacity: 1;
    transform: translateY(0) translateZ(0);
}
.scrolling-product ul {
    display: inline-flex;
    align-items: center;
    gap: 3px;
}
.scrolling-product ul li {
        align-items: center;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        min-width: 24px;
        display: flex;
        font-weight: 600;
        font-size: 18px;
        border-radius: calc(var(--wd-brd-radius) / 1.5);
        transition: all .2s ease;
}
label {
    color: #fff !important;
}
.btn-custom {
    background: #FAB73A !important;
    color: #fff;
    box-shadow: none;
}
    .btn-custom:hover {
        background: #fff !important;
        color: #FAB73A;
        box-shadow: none;
    }

:root {
    --mud-palette-text-secondary: white;
}
@media (max-width:767px){
    .categories{
        height:auto;
    }
}
@media (max-width:1199px){
    .shop-card .card-body a[b-6pt8dzqd51]{
        width:122px
    }
}*/