.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {
    width: 350px;
}

.star {
    color: red;
}

.bg-cart {
    background-color: orange;
    color: #fff;
}

    .bg-cart:hover {
        color: #fff;
    }

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px;
}

    .bg-buy:hover {
        color: #fff;
    }

a {
    text-decoration: none !important;
}

.text-color {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
}

.categories {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
}

.category-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.categories ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    padding-top: 10px;
}

.shop-search {
    background: #fff;
    border-radius: 10px;
    margin: 13px 0px 20px 0px;
    padding: 0 30px;
}

    .shop-search .shop-search-input {
        margin-top: 6.4px !important;
    }


.shop-card {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
}

    .shop-card .card-body {
        padding: 0;
    }

        .shop-card .card-body .card-img-actions {
            height: 190px;
        }

            .shop-card .card-body .card-img-actions img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 15px;
            }

        .shop-card .card-body a {
            font-size: 16px;
            width: 200px;
            font-weight: 600;
            color: #000;
            margin: 0;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .shop-card h3 {
        font-size: 16px;
    }
