@* @page "/welcome" *@
@* @layout EmptyLayout *@

@inject NavigationManager Navigation

<AuthorizeView>

    <div class="container">
        <div id="body-content" class="d-flex align-items-center">
            <div class="row align-items-center">


                <div class="col-12 col-lg-8">
                    <div class="p-2">
                        <p class="fw-medium fs-3 main-text-color">Hello! @context?.User?.Identity?.Name</p>
                    </div>
                </div>

                <div class="col-12 col-lg-8 order-2 order-lg-1">
                    <div class="p-2">
                        <h1 class="fw-bolder display-3 main-text-color">
                            Welcome to <br /> Divya Astro Ashram
                        </h1>
                        <div class="hr-dot w-25 my-4"></div>
                        <p class="main-text-color fw-medium">
                            Explore the mystical world of astrology and discover insights into your life
                            Explore Now.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-lg-4 text-lg-center order-1 order-lg-2">
                    <div class="p-2 text-center">
                        <img class="w-75" src="_content/AstroOfficeWeb.Components/logos/loader-4.gif" alt="hero-learn" />
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-center justify-content-lg-start order-3">
                    <button class="btn btn-custom" @onclick="OnClick_BtnExplore">Explore Now</button>
                </div>
            </div>
        </div>
    </div>

</AuthorizeView>
@code
{
    private void OnClick_BtnExplore()
    {
        Navigation.NavigateTo("/", false, true);
    }
}