@inherits LayoutComponentBase

<div class="page">
    <main>
        <AuthorizeView>
            <NavMenu />
        </AuthorizeView>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <p>Uh oh! An error has occurred, sorry!</p>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>
