@inherits LayoutComponentBase
<MudThemeProvider />
@* <MudDialogProvider /> *@
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" DisableBackdropClick="true" Position="DialogPosition.Center" CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <div class="page">
        <main>

            <AuthorizeView>
                <NavMenu />
            </AuthorizeView>
            @Body
        </main>
    </div>
</MudLayout>