@inherits LayoutComponentBase
@* <MudThemeProvider /> *@

<MudThemeProvider Theme="MyCustomTheme" />
@* <MudDialogProvider /> *@
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" DisableBackdropClick="true" Position="DialogPosition.Center" CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <div class="page">
        <main>
            <AuthorizeView>
                <NavMenu />
            </AuthorizeView>
            @Body
            <AuthorizeView>
                <NavMenuMobile />
            </AuthorizeView>
        </main>
    </div>
</MudLayout>



@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = new MudBlazor.Utilities.MudColor("#ff8808"),
                Secondary = new MudBlazor.Utilities.MudColor("#ff8808"),
                AppbarBackground = Colors.Red.Default,
                Success = new MudBlazor.Utilities.MudColor("#ff8808")
                // Surface = new MudBlazor.Utilities.MudColor("#fbc46f")
                
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            },



            Typography = new Typography()
            {

                Default = new Default()
                {
                    FontFamily = new[] { "Philosopher", "sans-serif" },
                   

                },
                Button = new Button()
                {   
                    TextTransform = "unset"
                }
            }

        };

}