@inherits BaseComponent
@inject IJSRuntime JSRuntime

<div @ref="ER_MobileOtpModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"> 
                
              @*   @if (!IsForgotPassword) { *@

                    <div class="container-fluid ">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                                <div>
                                    <div class=" text-center">

                                        <h4>Verify</h4>

                                        <p>Your code was sent to you via mobile number OTP</p>


                                        <div class="otp-field mb-4">
                                            <input type="text" data-inputmask='"mask": "9"' data-mask />
                                            <input type="text" data-inputmask='"mask": "9"' data-mask disabled />
                                            <input type="text" data-inputmask='"mask": "9"' data-mask disabled />
                                            <input type="text" data-inputmask='"mask": "9"' data-mask disabled />
                                            <input type="text" data-inputmask='"mask": "9"' data-mask disabled />
                                            <input type="text" data-inputmask='"mask": "9"' data-mask disabled />
                                        </div>

                                        <button type="button" class="btn btn-primary mb-3" data-dismiss="modal" @onclick="() => OnConfirmationChange(false)">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary mb-3" @onclick="() => OnConfirmationChange(true)">
                                            Verify
                                        </button>


                                        <p class="resend text-muted mb-0">
                                            Didn't receive code? <a href="">Request again</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                @*    }
                else
                {
                <form>
                    <div class="form-group">
                        <label for="userNameId">User Name</label>
                            <input type="email" class="form-control" id="userNameId" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                        <button type="button" class="btn btn-primary" @onclick="() => OnConfirmationChange(true)">Confirm</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => OnConfirmationChange(false)">Close</button>
                </form>
                } *@
            </div>
        </div>
    </div>
</div>


@code {
    protected bool IsShow { get; set; } = true;
    protected ElementReference ER_MobileOtpModal { get; set; }

    [Parameter]
    public string Title { get; set; } = "Verify OTP";

    [Parameter]
    public bool IsForgotPassword { get; set; } = false;

    public async Task ShowAsync()
    {
        IsShow = true;
        await JSRuntime.ShowOtpModalAsync(ER_MobileOtpModal);
        StateHasChanged();
    }

     public async Task ShowForgotPasswordAsync()
    {
        IsShow = true;
        await JSRuntime.ShowModalAsync(ER_MobileOtpModal);
        StateHasChanged();
    }

    [Parameter]
    public EventCallback<bool> ConfirmationChanged { get; set; }

    protected async Task OnConfirmationChange(bool value)
    {
        IsShow = false;
        await ConfirmationChanged.InvokeAsync(value);
    }
}
