@using AstroOfficeWeb.Shared.Helper
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Divya Astro Ashram" style="width:100px" /><span class="brand-text font-weight-light h2 ml-2 text-white font-weight-bold">Divya Astro Ashram </span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars text-white"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <AuthorizeView Roles=@(ApplicationConst.Role_AdminUser + "," + ApplicationConst.Role_Astrologer)>
                        <Authorized>

                            @* Home *@
                            <li>
                                <a href="/" class="nav-link">
                                    <i class="fas fa-home"></i>
                                    Home
                                </a>
                            </li>

                            @* Karan *@
                            <li>    
                                <a href="/karan" class="nav-link">
                                    <i class="fas fa-th-list"></i>
                                    Karan
                                </a>
                            </li>
                            <div class="dropdown">
                                <button class="title-dropdown " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <i class="fas fa-history"></i>Kundalis
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/viewed-kundalis"  ><i class="fas fa-history"> </i>
                                        Viewed Kundalis
                                    </a>
                                    <a class="dropdown-item" href=" /saved-kundalis"  > <i class="fas fa-table"> </i>
                                        Saved Kundalis
                                    </a>
                                    
                                </div>
                            </div>
                            @* Viewed Kundalis *@
                           @*  <li>
                                <a href="/viewed-kundalis" class="nav-link">
                                    <i class="fas fa-history"></i>
                                    Viewed Kundalis
                                </a>
                            </li>
 *@
                            @* Saved Kundalis *@
                          @*   <li>
                                <a href="/saved-kundalis" class="nav-link">
                                    <i class="fas fa-table"></i>
                                    Saved Kundalis
                                </a>
                            </li> *@
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles=@(ApplicationConst.Role_AdminUser)>
                        <Authorized>
                            @* Transactions *@
                            @* <li>
                                <a href="/transactions" class="nav-link">
                                    <i class="fas fa-table"></i>
                                    Transactions
                                </a>
                            </li> *@

                            @* Recharge *@
                           @*  <li>
                                <a href="/token-recharge" class="nav-link">
                                    <i class="fas fa-circle"></i>
                                    Recharge
                                </a>
                            </li> *@
                            <div class="dropdown">
                                <button class="title-dropdown " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>profile
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/transactions">
                                        <i class="fas fa-table"></i>
                                        Transactions
                                    </a>
                                    <a class="dropdown-item" href="/token-recharge">
                                        <i class="fas fa-circle"></i>
                                        Recharge
                                    </a>
                                    <a class="dropdown-item" href="/my-orders" title="Orders">
                                        <i class="fas fa-clipboard-list"></i>
                                        Orders
                                    </a>
                                     <a class="dropdown-item" href="/logout" s">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Logout
                                    </a>
                                </div>
                            </div>

                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="@(ApplicationConst.Role_User)">
                        <Authorized>
                            @* Shop *@
                            <li>
                                <a href="/products" class="nav-link">
                                    <i class="fas fa-shopping-bag"></i>
                                    Shop
                                </a>
                            </li>

                            @* Cart *@
                            <li>
                                <a href="/product-cart" title="Shopping cart" class="nav-link">
                                    <i class="fa fa-shopping-cart"></i>
                                    Cart
                                </a>
                            </li>

                            @* Wishlist *@
                            <li>
                                <a href="/user-wishlist" title="Wishlist" class="nav-link">
                                    <i class="fa fa-heart"></i>
                                    Wishlist
                                </a>
                            </li>

                            @* Orders *@
                           @*  <li>
                                <a href="/my-orders" title="Orders" class="nav-link">
                                    <i class="fas fa-clipboard-list"></i>
                                    Orders
                                </a>
                            </li> *@

                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="@(ApplicationConst.Role_Admin)">
                        <Authorized>
                            @* Manage Product *@
                            <li>
                                <a href="/manage-products" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Product
                                </a>
                            </li>

                            @* Manage User *@
                            <li>
                                <a href="/users" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Users
                                </a>
                            </li>

                            @* Manage Orders *@
                            <li>
                                <a href="/manage-orders" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Orders
                                </a>
                            </li>
                            <li>
                                <a href="/manage-categories" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Categories
                                </a>
                            </li>
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="@(ApplicationConst.Role_ProductManager)">
                        <Authorized>
                            @* Manage Product *@
                            <li>
                                <a href="/manage-products" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Product
                                </a>
                            </li>
                            
                            

                            @* Manage Orders *@
                            <li>
                                <a href="/manage-orders" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Orders
                                </a>
                            </li>
                            <li>
                                <a href="/manage-categories" class="nav-link">
                                    <i class="fas fa-list"></i>
                                    Manage Categories
                                </a>
                            </li>

                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView>
                        <Authorized>
                            @* Logout *@
                           @*  <li>
                                <a href="/logout" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </li> *@
                        </Authorized>
                    </AuthorizeView>
                    
                </ul>
            </div>
        </nav>
    </div>
</header>