<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="homeSymbol" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
    </symbol>
    <symbol id="speedometerSymbol" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
    </symbol>
    <symbol id="tableSymbol" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
    </symbol>
    <symbol id="userSymbol" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </symbol>
	<symbol id="tokenSymbol" viewBox="0 0 512 512">
		<path fill="#FEDA2C" opacity="1.000000" stroke="none" d="M168.330994,467.727844
	C148.972778,459.742065 131.536362,449.157898 115.334160,436.655151
	C99.637161,424.542175 85.936424,410.294647 74.113785,394.368622
	C64.151474,380.948608 55.544861,366.657104 48.778889,351.337189
	C40.915672,333.532745 35.330982,315.088257 31.830433,295.865356
	C28.388750,276.965698 28.266705,257.964111 29.247364,239.054520
	C30.418871,216.464905 35.940044,194.560394 44.189217,173.409439
	C52.439869,152.254700 63.762047,132.827820 77.651016,114.969078
	C93.079048,95.131378 111.761902,78.738564 132.809723,65.016853
	C158.080215,48.542248 185.760468,38.013248 215.199982,32.119507
	C235.085815,28.138401 255.370941,27.965975 275.457520,29.224972
	C299.669678,30.742550 323.075317,36.818821 345.530945,46.176296
	C366.940063,55.097694 386.580353,67.094482 404.292297,81.956917
	C424.765564,99.136406 441.481140,119.615311 455.005096,142.729767
	C468.217438,165.311539 476.713379,189.646103 481.877533,215.122086
	C485.904388,234.987259 486.023682,255.288040 484.781830,275.379181
	C483.284851,299.597626 477.240509,323.009857 467.866180,345.458893
	C458.928345,366.862701 446.889374,386.468079 432.099640,404.261200
	C414.995667,424.838470 394.448456,441.451935 371.359894,454.974976
	C353.233307,465.591766 333.872589,473.299713 313.637970,478.518311
	C302.830933,481.305481 291.587372,482.608459 280.460632,483.879181
	C272.108368,484.833038 263.630249,484.733429 255.204697,484.987671
	C229.773483,485.755005 205.280624,480.794373 181.326599,472.686249
	C177.057999,471.241425 172.877808,469.535339 168.330994,467.727844
M321.884216,93.525780
	C286.862549,80.151146 251.026932,77.049294 214.636612,86.432114
	C167.845245,98.496719 131.253967,125.098076 106.394730,166.637604
	C81.585938,208.092804 74.752457,252.830399 86.584663,299.740875
	C97.942474,344.770599 123.448753,380.201935 162.776871,405.109131
	C195.647232,425.926544 231.525482,435.399719 270.623260,432.132477
	C290.064758,430.507812 308.682556,426.078552 326.546082,418.339478
	C364.468567,401.910034 393.002625,375.225342 412.471588,338.916840
	C431.341705,303.725098 436.127228,266.078156 429.981415,227.027878
	C424.466949,191.989166 408.643494,161.778702 384.424927,135.988602
	C366.956848,117.387039 346.181061,103.518173 321.884216,93.525780
z" />
		<path fill="#FCAA17" opacity="1.000000" stroke="none"
			  d="
M322.236633,93.683243
	C346.181061,103.518173 366.956848,117.387039 384.424927,135.988602
	C408.643494,161.778702 424.466949,191.989166 429.981415,227.027878
	C436.127228,266.078156 431.341705,303.725098 412.471588,338.916840
	C393.002625,375.225342 364.468567,401.910034 326.546082,418.339478
	C308.682556,426.078552 290.064758,430.507812 270.623260,432.132477
	C231.525482,435.399719 195.647232,425.926544 162.776871,405.109131
	C123.448753,380.201935 97.942474,344.770599 86.584663,299.740875
	C74.752457,252.830399 81.585938,208.092804 106.394730,166.637604
	C131.253967,125.098076 167.845245,98.496719 214.636612,86.432114
	C251.026932,77.049294 286.862549,80.151146 322.236633,93.683243
M182.468002,269.025177
	C184.828644,271.377869 187.504700,273.501190 189.440567,276.162811
	C190.761490,277.978943 191.986542,280.699524 191.652313,282.755219
	C188.398926,302.764679 184.792603,322.716614 181.319321,342.690582
	C179.914474,350.769531 178.589706,358.862427 177.093826,367.749084
	C179.586761,366.576538 181.252075,365.871704 182.846100,365.031647
	C206.270340,352.687256 229.707550,340.366913 253.072845,327.911713
	C255.895630,326.406952 258.133362,326.410767 260.953369,327.913300
	C284.321136,340.363739 307.759888,352.681061 331.186310,365.021210
	C332.836823,365.890686 334.560455,366.621368 336.962341,367.751801
	C331.993011,339.017090 327.255280,311.363373 322.373505,283.735107
	C321.793243,280.451141 322.276520,277.971893 324.798706,275.681213
	C330.217438,270.760010 335.564392,265.752350 340.782928,260.619659
	C351.000458,250.570206 361.057281,240.357208 371.288208,230.321609
	C375.876343,225.821106 380.723663,221.584839 386.104248,216.629211
	C383.748230,215.905411 382.416229,215.299118 381.025696,215.098221
	C354.889526,211.322098 328.749908,207.568985 302.600922,203.882797
	C298.681335,203.330261 296.165558,201.662842 294.330109,197.864548
	C283.023804,174.466949 271.444580,151.201172 259.936981,127.901001
	C259.171143,126.350410 258.247314,124.877861 256.934235,122.547913
	C255.595947,125.044609 254.708694,126.590286 253.921310,128.185257
	C242.417694,151.487427 230.850922,174.759094 219.518326,198.144241
	C217.861191,201.563797 215.666428,203.258530 212.073608,203.764359
	C190.364716,206.820633 168.659424,209.903564 146.963364,213.049545
	C140.888092,213.930481 134.848007,215.054153 127.823395,216.228348
	C146.541946,234.308914 164.253174,251.416489 182.468002,269.025177
z" />
		<path fill="#FEDA2C" opacity="1.000000" stroke="none"
			  d="
M182.216217,268.774628
	C164.253174,251.416489 146.541946,234.308914 127.823395,216.228348
	C134.848007,215.054153 140.888092,213.930481 146.963364,213.049545
	C168.659424,209.903564 190.364716,206.820633 212.073608,203.764359
	C215.666428,203.258530 217.861191,201.563797 219.518326,198.144241
	C230.850922,174.759094 242.417694,151.487427 253.921310,128.185257
	C254.708694,126.590286 255.595947,125.044609 256.934235,122.547913
	C258.247314,124.877861 259.171143,126.350410 259.936981,127.901001
	C271.444580,151.201172 283.023804,174.466949 294.330109,197.864548
	C296.165558,201.662842 298.681335,203.330261 302.600922,203.882797
	C328.749908,207.568985 354.889526,211.322098 381.025696,215.098221
	C382.416229,215.299118 383.748230,215.905411 386.104248,216.629211
	C380.723663,221.584839 375.876343,225.821106 371.288208,230.321609
	C361.057281,240.357208 351.000458,250.570206 340.782928,260.619659
	C335.564392,265.752350 330.217438,270.760010 324.798706,275.681213
	C322.276520,277.971893 321.793243,280.451141 322.373505,283.735107
	C327.255280,311.363373 331.993011,339.017090 336.962341,367.751801
	C334.560455,366.621368 332.836823,365.890686 331.186310,365.021210
	C307.759888,352.681061 284.321136,340.363739 260.953369,327.913300
	C258.133362,326.410767 255.895630,326.406952 253.072845,327.911713
	C229.707550,340.366913 206.270340,352.687256 182.846100,365.031647
	C181.252075,365.871704 179.586761,366.576538 177.093826,367.749084
	C178.589706,358.862427 179.914474,350.769531 181.319321,342.690582
	C184.792603,322.716614 188.398926,302.764679 191.652313,282.755219
	C191.986542,280.699524 190.761490,277.978943 189.440567,276.162811
	C187.504700,273.501190 184.828644,271.377869 182.216217,268.774628
z" />
	</symbol>
</svg>

@* <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">

    

</svg> *@


<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Divya Astro Ashram" style="width:100px" /><span class="brand-text font-weight-light h2 ml-2 text-white font-weight-bold">Divya Astro Ashram </span></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <i class="fa fa-bars text-white"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <AuthorizeView>
                        <Authorized>

                            <li>
                                <a href="/" class="nav-link">
                                    @* <i class="fa fa-th"></i> *@
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#speedometerSymbol"></use></svg>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="/karan" class="nav-link">
                                    @* <i class="fa fa-table"></i> *@
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#tableSymbol"></use></svg>
                                    Karan
                                </a>
                            </li>
							<li>
								<a href="/viewed-kundalis" class="nav-link">
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#tableSymbol"></use></svg>
                                    Viewed Kundalis
                                </a>
                            </li>
							<li>
								<a href="/saved-kundalis" class="nav-link">
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#tableSymbol"></use></svg>
									Saved Kundalis
								</a>
							</li>
							<li>
								<a href="/transactions" class="nav-link">
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#tableSymbol"></use></svg>
									Transactions
								</a>
							</li>
							<li>
								<a href="/token-recharge" class="nav-link">
                                    @* <i class="fa fa-th"></i> *@
									<svg class="bi d-block mb-1 mr-2 mr-lg-0" width="24" height="24"><use xlink:href="#tokenSymbol"></use></svg>
                                    Recharge
                                </a>
                            </li>
                            <li>
                                <a href="/logout" class="nav-link">
                                    @* <i class="fa fa-user"></i> *@
                                    <svg class="bi d-block mr-2 mr-lg-0 mb-1" width="24" height="24"><use xlink:href="#userSymbol"></use></svg>
                                    Logout
                                </a>
                            </li>
                            @* @context.User.Identity.Name *@
                        </Authorized>
                        @*<NotAuthorized>*@
                        @* <li>
                        <a href="/login" class="nav-link text-secondary d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-user"></i>
                        Login
                        </a>
                        </li> *@
                        @*</NotAuthorized>*@
                    </AuthorizeView>
                </ul>
            </div>
        </nav>
    </div>
</header>


<TokenRechargeModal @ref="TokenModal" />

@code {
	private TokenRechargeModal TokenModal = new();

	private async Task OnClick_BtnToken(MouseEventArgs e)
	{
		await TokenModal.ShowAsync();
	}
}
