@page "/forgotpass"
@inject IJSRuntime JSRuntime

<MobileOtpModal @ref="MobileOtpModal" ConfirmationChanged="OnConfirmationChanged" />

<div class="login-page" style="min-height: 332.781px;">
    <div class="login-box">
        <div class="login-logo">
            <h3>Forgot Password</h3>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

               
                    <div class="input-group mb-3">                       
                        <input type="text" class="form-control" id="mobileInput" placeholder="Mobile no." />

                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-mobile"></span>
                            </div>
                        </div>
                    </div>
          
                    <div class="row">
                        <div class="col-12">                          
                            <button  class="btn btn-primary btn-block" @onclick="OnClick_BtnMobileVerifyOTP">Send OTP</button>
                        </div>
                    </div>           
                <p class="mt-3 mb-1">
                    <NavLink href="/login">
                        Login
                    </NavLink>
                </p>
                <p class="mb-0">
                    <a href="/register" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>


</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("applyInputMask");
        }
    }
}


