@page "/login"

@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager

@* @layout AccountLayout *@

@*<h3>Login</h3>*@
@* <div class="d-flex justify-content-center align-items-center" style="height: 80vh;"> *@

<MobileOtpModal @ref="MobileOtpModal" IsForgotPassword="false" ConfirmationChanged="OnConfirmationChanged_MobileOtpModal" />


<div class="login-page">
    <div class="login-box card-frame">
        <div>
            <div class="login-logo">
                <h3>Login Page</h3>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    @if (!string.IsNullOrEmpty(LoginErrorMessage))
                    {
                        <ul>
                            <li>@LoginErrorMessage</li>
                        </ul>
                    }
                    <EditForm Model="LoginModel" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmitAsync">
                        <DataAnnotationsValidator />

                        <div class="input-group mb-4">
                            <InputText @bind-Value="LoginModel!.UserName" class="form-control" placeholder="User Name" />
                            <i class="fa fa-user"></i>
                            <ValidationMessage For="() => LoginModel!.UserName" />

                        </div>
                        <div class="input-group mb-4">
                            <InputText @bind-Value="LoginModel!.Password" type="password" class="form-control" placeholder="Password" />
                            <i class="fa fa-eye"></i>
                            <ValidationMessage For="() => LoginModel.Password" />
                        </div>
                        <div class="row down-form">
                            <div class="col-6">
                                <InputCheckbox id="ChkRememberMe" @bind-Value="LoginModel!.RememberMe" />
                                <label for="ChkRememberMe">
                                    Remember Me
                                </label>
                            </div>
                            <div class="col-6 text-right">
                                <NavLink href="/forgotpass" class="forgot-link">Forgot Password ?</NavLink>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-custom btn-block">Sign In</button>
                                <button class="btn btn-custom btn-custom-outline mt-2 btn-block">  <NavLink href="/login-with-mobile">Login with OTP</NavLink> </button>
                            </div>
                        </div>
                    </EditForm>

                    @* <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                    </div> *@

                    <div class="text-center">
                        @* <p class="mb-1 mt-3"><button class="btn btn-link" @onclick="OnClick_BtnForgotPassword">I forgot my password</button></p> <a href="/forgot"> I forgot my password</a> *@

                        @* <p><button class="btn btn-link" @onclick="OnClick_BtnMobileOTP">Login with OTP</button></p>                                      *@
                        <p class="mb-0 mt-3 sign-up "> Don't have an account?  <NavLink class="forgot-link" href="/register"><u>Sign Up</u></NavLink> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* </div> *@ 