@page "/login-with-mobile"
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JSRuntime
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager 
@inject ISwaggerApiService Swagger 

<MobileOtpModal @ref="MobileOtpModal" ConfirmationChanged="OnConfirmationChanged" ErrorMessage="@OtpErrorMessage" MobileNumber="@LoginModel.MobileNumber" />

<div class="login-page" style="min-height: 332.781px;">
    <img src="images/loader-4.gif" class="astroOffice-logo-image mb-3" />
    <div class="login-box card-frame">
        <div style="position:relative;z-index:999!important;">
            <div class="login-logo">
                <h3>Login with OTP</h3>
            </div>

            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">You forgot your password? Here you can easily login with Mobile no. and OTP pin.</p>

                    <EditForm Model="LoginModel" OnValidSubmit="OnValidSubmit_LoginWithMobile">
                        <DataAnnotationsValidator />
                        <div class="input-group mb-3">
                            <InputText @ref="InputMobileNumber" @bind-Value="LoginModel.MobileNumber" class="form-control" placeholder="Mobile no." @onfocusout="OnFocusOut_MobileNumber" />

                            <i class="fas fa-mobile"></i>
                            <ValidationMessage For="@(() => LoginModel.MobileNumber)" />
                        </div>
                        <div class="row down-form">
                            <div class="col-12 mt-2">
                                <button type="submit" class="btn btn-custom btn-block">Send OTP</button>
                            </div>
                        </div>
                    </EditForm>

                    <div class="row down-form">
                        <div class="col-12 mt-2">
                            <NavLink class="btn btn-custom btn-custom-outline btn-block" href="/login">Login with User Name</NavLink>
                        </div>
                    </div>

                    <p class="mb-0 text-center mt-3">
                        <NavLink href="/register" class="text-center forgot-link">Register a new membership</NavLink>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
