@page "/login"
@* @layout AccountLayout *@

@*<h3>Login</h3>*@
@* <div class="d-flex justify-content-center align-items-center" style="height: 80vh;"> *@

<MobileOtpModal @ref="MobileOtpModal" IsForgotPassword="false" ConfirmationChanged="OnConfirmationChanged_MobileOtpModal" />
<MobileOtpModal @ref="ForgotPasswordModal" IsForgotPassword="true" ConfirmationChanged="OnConfirmationChanged_ForgotPasswordModal" />


<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <h3><b>Login</b> Page</h3>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <EditForm Model="LoginModel" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmitAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <ValidationMessage For="() => LoginModel!.UserName" />
                    <div class="input-group mb-3">
                        <InputText @bind-Value="LoginModel!.UserName" class="form-control" placeholder="UserName" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                                @* <span class="fas fa-envelope"></span> *@
                            </div>
                        </div>
                    </div>
                    <ValidationMessage For="() => LoginModel.Password" />
                    <div class="input-group mb-3">
                        <InputText @bind-Value="LoginModel!.Password" type="password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <InputCheckbox id="ChkRememberMe" @bind-Value="LoginModel!.RememberMe" />
                                <label for="ChkRememberMe">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </EditForm>

                @* <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
                </div> *@

                <div class="text-center">
                    @* <p class="mb-1 mt-3"><button class="btn btn-link" @onclick="OnClick_BtnForgotPassword">I forgot my password</button></p> *@
                    <p class="mb-1 mt-3"><button class="btn btn-link" >I forgot my password</button></p>
                    <p class="m-0">- OR -</p>
                    <p><button class="btn btn-link" @onclick="OnClick_BtnMobileOTP">Login with OTP</button></p>                                     
                    <p class="mb-0 "> Don't have an account? <button class="btn btn-link">Sign Up</button> </p>
                </div>
            </div>
        </div>
    </div>
</div>
@* </div> *@