@page "/karan"
@inject IJSRuntime JSRuntime

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Karan</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content -->

@code
{
    [CascadingParameter]
    private MainLayout MainLayout { get; set; }

    protected override void OnInitialized()
    {
        MainLayout.NavTitle = "Karan";
    }

    protected override async Task OnInitializedAsync()
    {
        await MainLayout.NotifyChangeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.CloseSidebar();
        }
    }
}