@page "/kundali"
<div class="card card-primary card-outline card-outline-tabs">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-item nav-link" id="custom-tabs-basic-details-tab" data-toggle="pill" href="#custom-tabs-basic-details" role="tab" aria-controls="custom-tabs-basic-details" aria-selected="false">Basic Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" id="custom-tabs-chart-tab" data-toggle="pill" href="#custom-tabs-chart" role="tab" aria-controls="custom-tabs-chart" aria-selected="false">Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active" id="custom-tabs-kp-tab" data-toggle="pill" href="#custom-tabs-kp" role="tab" aria-controls="custom-tabs-kp" aria-selected="true">KP</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" id="custom-tabs-mahadasha-tab" data-toggle="pill" href="#custom-tabs-mahadasha" role="tab" aria-controls="custom-tabs-mahadasha" aria-selected="false">Mahadasha</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" id="custom-tabs-datefinder-tab" data-toggle="pill" href="#custom-tabs-datefinder" role="tab" aria-controls="custom-tabs-datefinder" aria-selected="false">Date Finder</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" id="custom-tabs-bestKundai-tab" data-toggle="pill" href="#custom-tabs-bestKundai" role="tab" aria-controls="custom-tabs-bestKundai" aria-selected="false">Best Kundali Dates</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade" id="custom-tabs-basic-details" role="tabpanel" aria-labelledby="custom-tabs-basic-details-tab">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorem. Tempore maiores sequi tempora aliquid corrupti dolorem quia cum quae. Voluptate dolores eaque amet praesentium doloribus sit optio laboriosam itaque.

            </div>
            <div class="tab-pane fade" id="custom-tabs-chart" role="tabpanel" aria-labelledby="custom-tabs-chart-tab">
                consectetur adipisicing elit. A, dolorem. Tempore maiores sequi tempora aliquid corrupti dolorem quia cum quae. Voluptate dolores eaque amet praesentium doloribus sit optio laboriosam itaque.
            </div>
            <div class="tab-pane fade active show" id="custom-tabs-kp" role="tabpanel" aria-labelledby="custom-tabs-kp-tab">
                Tempore maiores sequi tempora aliquid corrupti dolorem quia cum quae. Voluptate dolores eaque amet praesentium doloribus sit optio laboriosam itaque.
            </div>
            <div class="tab-pane fade" id="custom-tabs-mahadasha" role="tabpanel" aria-labelledby="custom-tabs-mahadasha-tab">
                tempora aliquid corrupti dolorem quia cum quae. Voluptate dolores eaque amet praesentium doloribus sit optio laboriosam itaque.
            </div>
            <div class="tab-pane fade" id="custom-tabs-datefinder" role="tabpanel" aria-labelledby="custom-tabs-datefinder-tab">
                . Voluptate dolores eaque amet praesentium doloribus sit optio laboriosam itaque.
            </div>
            <div class="tab-pane fade" id="custom-tabs-bestKundai" role="tabpanel" aria-labelledby="custom-tabs-bestKundai-tab">
                eaque amet praesentium doloribus sit optio laboriosam itaque.
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
