@page "/test"
<h3>test</h3>
<button @onclick="check"> test </button>

@code {
    private async void check()
    {
        var d = await Application.Current.MainPage.DisplayAlert("Internet", $"message:", "yes", "No");
        if (d)
        {
            await Application.Current.MainPage.DisplayAlert("Internet", $"yes:", "yes");
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Internet", $"No:", "yes");
        }
    }
}
